{% extends 'main.html.twig' %}

{% block page_title %}
    Welcome
{% endblock %}

{% block css %}
    <style>
        .home-div {
            text-align: center;
            font-size: 80px;
            margin-top: 5%;
            font-family: 'Calibri';
            font-weight: 100;

        }

        code{
            color: green;
        }

        .commentaire{
            color: grey;
        }

        .explanation{
            margin: 0 auto;
            width: 40%;
            font-family: 'Calibri';
            background: ghostwhite;
            padding: 15px;
            box-shadow: 0 0 2px #888888;
            border-radius: 3px;
        }

        body{
            background: #f2f2f2;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="home-div">
        Welcome to <strong>LIMPID</strong>
        <br>

    </div>
    <div class="explanation">
        How do i create my first page? simple :)<br>
        <ul>
            <li>Open <code>CMD console</code></li>
            <li>Write this command <code>php console launch:module YourModuleName (ex: Backoffice)</code></li>
            <li>Press <code>Enter</code> and Limpid will do the work for you</li>
        </ul>
        That's it ? yep that's it, enjoy :)
    </div>
{% endblock %}